version: "3.9"

services:
  capacitadns:
    image: ubuntu/bind9:9.18-22.04_edge
    container_name: capacitaDNS
    environment:
      - BIND9_USER=root
      - TZ=America/Sao_Paulo
    volumes:
      - ./config/named.conf.local:/etc/bind/named.conf.local
      - ./config/named.conf.options:/etc/bind/named.conf.options
      - ./config/db.remp:/etc/bind/db.remp
    restart: always
    network_mode: "host"
